
.show-tags {
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

video {
    max-width: 100%;
    height: auto;
}

img{
    max-width:100%;
    height:auto;
}

.btn-customize-red{
    border: 3px #d62728 solid;
    background-color: #ffffff;
}



