a {
    color: #000000;
    text-decoration: none;
}

.show-tags {
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}